<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/flatly.min.css"/>
        <title></title>
    </head>
    <body class="bg-light">
        <section class="container mt-4 bg-white p-2">
            <div class="form-group">
                <label class="form-label">Digita o conteúdo</label>
                <textarea class="form-control" rows="15" id="content" name="content"></textarea>
            </div>
        </section>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="../js/emittors.js"></script>
    </body>
</html>